@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<style>
.warp{
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
}
</style>

<h4 class="text-black">@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div style="margin-left: 220px; margin-bottom:270px;" > 
    <div class="row">
        <div class="col-md-6">
            <form id="change-password-form" method="post">
                <div class="warp bg-white mt-sm-5">

                    <div class="form-group">
                        <label style="color: #730075; font-size: 1.3em; " asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" style="color: #9B54A1;" class="form-control bg-light" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger "></span>
                    </div>
                    <div class="form-group">
                        <label style="color: #730075; font-size: 1.3em; " asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" style="color: #9B54A1;" class="form-control bg-light" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="color: #730075; font-size: 1.3em; " asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" style="color: #9B54A1;" class="form-control bg-light" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-dark">Update password</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}