@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

@{

    <p class="text-center w-100" style="color: #730075; font-size: 1.3em; margin-top:150px;">
        Your account has been successfully confirmed. You can now log in with your account
    </p>

}