@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header style="margin-top:200px;" class="text-center">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
