@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
  
<p class="text-center w-100"  style="color: #730075; font-size: 1.3em; margin-top:150px;">
        Please check your email to confirm your account.
</p>

  }

