
<div style="margin-top:200px;">
    <div class="btn-group flex-row  align-content-between">
        <a asp-area="Identity" asp-page="/Account/Register"class="btn btn-group btn-secondary">student </a>
      
    </div>
    <div class="btn-group flex-row  align-content-between">
      
        <a asp-area="Identity" asp-page="/Account/Register"class="btn btn-group btn-secondary"> university</a>
    </div>
</div>
