/* Coolors Exported Palette - https://coolors.co/b7d3f2-afafdc-8a84e2-84afe6-79beee */

/* CSS HEX */
--baby-blue-eyes: #b7d3f2ff;
--maximum-blue-purple: #afafdcff;
--medium-purple: #8a84e2ff;
--french-sky-blue: #84afe6ff;
--aero: #79beeeff;

/* CSS HSL */
--baby-blue-eyes: hsla(212, 69%, 83%, 1);
--maximum-blue-purple: hsla(240, 39%, 77%, 1);
--medium-purple: hsla(244, 62%, 70%, 1);
--french-sky-blue: hsla(214, 66%, 71%, 1);
--aero: hsla(205, 77%, 70%, 1);

/* SCSS HEX */
$baby-blue-eyes: #b7d3f2ff;
$maximum-blue-purple: #afafdcff;
$medium-purple: #8a84e2ff;
$french-sky-blue: #84afe6ff;
$aero: #79beeeff;

/* SCSS HSL */
$baby-blue-eyes: hsla(212, 69%, 83%, 1);
$maximum-blue-purple: hsla(240, 39%, 77%, 1);
$medium-purple: hsla(244, 62%, 70%, 1);
$french-sky-blue: hsla(214, 66%, 71%, 1);
$aero: hsla(205, 77%, 70%, 1);

/* SCSS RGB */
$baby-blue-eyes: rgba(183, 211, 242, 1);
$maximum-blue-purple: rgba(175, 175, 220, 1);
$medium-purple: rgba(138, 132, 226, 1);
$french-sky-blue: rgba(132, 175, 230, 1);
$aero: rgba(121, 190, 238, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b7d3f2ff, #afafdcff, #8a84e2ff, #84afe6ff, #79beeeff);
$gradient-right: linear-gradient(90deg, #b7d3f2ff, #afafdcff, #8a84e2ff, #84afe6ff, #79beeeff);
$gradient-bottom: linear-gradient(180deg, #b7d3f2ff, #afafdcff, #8a84e2ff, #84afe6ff, #79beeeff);
$gradient-left: linear-gradient(270deg, #b7d3f2ff, #afafdcff, #8a84e2ff, #84afe6ff, #79beeeff);
$gradient-top-right: linear-gradient(45deg, #b7d3f2ff, #afafdcff, #8a84e2ff, #84afe6ff, #79beeeff);
$gradient-bottom-right: linear-gradient(135deg, #b7d3f2ff, #afafdcff, #8a84e2ff, #84afe6ff, #79beeeff);
$gradient-top-left: linear-gradient(225deg, #b7d3f2ff, #afafdcff, #8a84e2ff, #84afe6ff, #79beeeff);
$gradient-bottom-left: linear-gradient(315deg, #b7d3f2ff, #afafdcff, #8a84e2ff, #84afe6ff, #79beeeff);
$gradient-radial: radial-gradient(#b7d3f2ff, #afafdcff, #8a84e2ff, #84afe6ff, #79beeeff);