<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

<a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-plus"></i>&nbsp; Create New</a>


<button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <i class="bx bx-download"></i> Export
</button>