<style>

    .btn-primary {
        color: #FFFFFF;
        background-color: #8950FC;
        border-color: #8950FC;
    }

        .btn-primary:hover {
            color: #FFFFFF;
            background-color: #8950FC;
            border-color: #8950FC;
        }

  
</style>
<a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-plus"></i>&nbsp; Create New</a>

